 

 

.footer {
  width: 600px;
  max-width: 90%;
  margin: 2rem auto;
  a {
    color: black;
    text-decoration: none;
    font-weight: 900;
    cursor: pointer
  }
}

.animation-container {
  width: 600px;
  max-width: 90%;
  margin: 2rem auto;
  button {
    font-weight: 100;
    color: black;
    font-size: 1rem;
    width: 100%;
    display: block;
    border-radius: 2rem;
    background: black;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 2rem;
  }
}

.boxes {
  margin: 2rem 0;
  &-single {
    height: 4rem;
    border-radius: 2rem;
    width: 100%;
    margin: 2rem 0;
    background: lightpink;
    pointer-events: none;
  }
}